h1{
    text-align: center;
}
p{
    text-align: center; 
}
body {
    background-color: pink;
    font-family: "Trebuchet MS", sans-serif;
}
.heart{
   width: 300px;
   height: 300px;
   display: block;
   margin: 0 auto;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: hotpink;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin: 10px;
}
