body {
  background-color: pink;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 40px;
}

img {
  width: 300px;
  max-width: 80%;
  height: auto;
  display: block;
  margin: 30px auto;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: hotpink;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  margin: 20px;
}
