h1{
    text-align: center;
}
p{
    text-align: center; 
}
body {
    background-color: pink;
    font-family: "Trebuchet MS", sans-serif;
}
img{
   width: 300px;
   max-width: 80%;
   height: auto;
   display: block; 
   margin: 0 auto; 
}
